/* 🔷 HEADER GOV */
.header-gov {
  margin-bottom: 20px;
}

.header-gov h1 {
  font-size: 24px;
  font-weight: 600;
  color: #0c326f;
  margin-bottom: 4px;
}

.header-gov p {
  font-size: 14px;
  color: #6b7280;
}

/* Accordion estilo gov.br */
.gov-accordion {
  margin-top: 10px;
}

/* Header */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 🔥 separa extremos */
  width: 100%; /* 🔥 ocupa toda a largura disponível */
  margin-left: 12px;
}

.titulo {
  font-weight: 600;
  font-size: 16px;
}

.data {
  font-size: 13px;
  color: #6b7280;
  align-self: flex-end; /* 🔥 joga a data para a direita */
}

/* Conteúdo */
.conteudo {
  padding: 16px 0;
}

.descricao {
  color: #4b5563;
  margin-bottom: 16px;
}

/* Ações */
.acoes {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

/* PDF */
.pdf-container iframe {
  border: 1px solid #d1d5db;
  border-radius: 8px;
}
