<div class="pagina-acompanhamento">
  <!-- HEADER -->
  <div class="cabecalho">
    <div class="cabecalho-info">
      <span class="breadcrumb"> Home / Acompanhamento / Solicitações </span>

      <h1>Acompanhamento de Solicitações</h1>

      <p>Consulte o andamento das suas solicitações e resolva pendências.</p>
    </div>

    <div class="cabecalho-acoes">
      <button mat-stroked-button color="primary" class="btn-atualizar">
        <mat-icon>refresh</mat-icon>

        <span>Atualizar</span>
      </button>
    </div>
  </div>

  <!-- CARD -->
  <div class="br-card tabela-card">
    <!-- HEADER CARD -->
    <div class="card-header">
      <div class="header-content">
        <div>
          <h2>Solicitações em andamento</h2>

          <span class="subtitulo">
            Lista de protocolos vinculados ao usuário.
          </span>
        </div>
      </div>
    </div>

    <!-- TABELA -->
    <div class="table-responsive">
      <table class="gov-table">
        <thead>
          <tr>
            <th>Protocolo</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Status</th>
            <th class="acoes-coluna">Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of solicitacoes">
            <td data-label="Protocolo">
              {{ item.protocolo }}
            </td>

            <td data-label="Serviço">
              {{ item.servico }}
            </td>

            <td data-label="Data">
              {{ item.data }}
            </td>

            <td data-label="Status">
              <span
                class="status"
                [class.sem-quebra]="item.status !== 'CONCLUIDO'"
                [ngClass]="{
                  pendente:
                    item.status === 'PENDENTE' || item.status === 'EM_ANALISE',
                  concluido: item.status === 'CONCLUIDO',
                }"
              >
                {{ item.statusLabel }}
              </span>
            </td>

            <td class="acoes" data-label="Ações">
              <div class="container-botao-acao">
                <button
                  *ngIf="item.status !== 'CONCLUIDO'"
                  mat-stroked-button
                  color="warn"
                  class="btn-acao"
                >
                  <mat-icon>warning</mat-icon>
                  <span>Resolver Pendências</span>
                </button>

                <button
                  *ngIf="item.status === 'CONCLUIDO'"
                  mat-stroked-button
                  color="primary"
                  class="btn-acao"
                >
                  <mat-icon>visibility</mat-icon>
                  <span>Visualizar</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
