<div class="header-notificacoes">
  <div>
    <h2>{{ dados.cabecalho.titulo }}</h2>
    <p>{{ dados.cabecalho.descricao }}</p>
  </div>

  <div class="acoes">
    <button mat-stroked-button>
      <mat-icon>done_all</mat-icon>
      Marcar todas como lidas
    </button>

    <button mat-stroked-button>
      <mat-icon>tune</mat-icon>
      Filtrar e ordenar
    </button>
  </div>
</div>

<!-- TABS -->
<div class="tabs">
  <span *ngFor="let tab of dados.tabs" [class.ativo]="tab.ativa">
    {{ tab.nome }}
    <b *ngIf="tab.quantidade">{{ tab.quantidade }}</b>
  </span>
</div>

<!-- LISTA -->
<div class="lista">
  <div
    class="item"
    *ngFor="let msg of dados.mensagens"
    [ngClass]="getClassePrioridade(msg)"
  >
    <div class="barra" [ngClass]="getClasseBarra(msg.tipo)"></div>

    <div class="icone" [ngClass]="msg.tipo">
      <mat-icon>{{ getIcon(msg.tipo) }}</mat-icon>
    </div>

    <div
      class="conteudo-item"
      (click)="abrirMensagem(msg)"
      style="cursor: pointer"
    >
      <span *ngIf="msg.prioridade === 'alta'" class="prioridade">
        ALTA PRIORIDADE
      </span>

      <h3>{{ msg.titulo }}</h3>
      <p>{{ msg.descricao }}</p>
    </div>

    <div class="info">
      <span>{{ msg.data }}</span>
      <span class="status" [ngClass]="msg.status">
        {{ msg.status === "nao-lida" ? "Não lida" : msg.status }}
      </span>
    </div>
  </div>
</div>
