<div class="header-notificacoes">
  <div>
    <h2>{{ dados.cabecalho.titulo }}</h2>
    <p>{{ dados.cabecalho.descricao }}</p>
  </div>

  <div class="acoes">
    <button *ngIf="!isMobile" mat-stroked-button class="desktop-btn">
      <mat-icon>done_all</mat-icon>
      Marcar todas como lidas
    </button>

    <button *ngIf="!isMobile" mat-stroked-button class="desktop-filter-btn">
      <mat-icon>tune</mat-icon>
      Filtrar e ordenar
    </button>

    <button
      mat-stroked-button
      class="mobile-filter-btn"
      [matMenuTriggerFor]="menuTabs"
    >
      <mat-icon>tune</mat-icon>
      Filtrar
    </button>

    <mat-menu #menuTabs="matMenu">
      <button
        mat-menu-item
        *ngFor="let tab of dados.tabs"
        (click)="selecionarTab(tab)"
      >
        <mat-icon *ngIf="tab.ativa">check</mat-icon>

        <span>{{ tab.nome }}</span>

        <span class="menu-badge" *ngIf="tab.quantidade">
          {{ tab.quantidade }}
        </span>
      </button>
    </mat-menu>
  </div>
</div>

<!-- TABS -->
<div class="tabs">
  <span
    *ngFor="let tab of dados.tabs"
    [class.ativo]="tab.ativa"
    (click)="selecionarTab(tab)"
    style="cursor: pointer"
  >
    {{ tab.nome }}
    <b *ngIf="tab.quantidade">{{ tab.quantidade }}</b>
  </span>
</div>

<!-- LISTA -->
<div class="lista">
  <div
    class="item"
    *ngFor="let msg of mensagensFiltradas"
    [ngClass]="getClassePrioridade(msg)"
  >
    <div class="barra" [ngClass]="getClasseBarra(msg.tipo)"></div>

    <div class="conteudo-item" (click)="abrirMensagem(msg)">
      <!-- LINHA 1 -->
      <div class="linha-topo">
        <div class="icone" [ngClass]="msg.tipo">
          <mat-icon>{{ getIcon(msg.tipo) }}</mat-icon>
        </div>

        <h3 class="titulo-msg">{{ msg.titulo }}</h3>

        <span class="data-msg">{{ msg.data }}</span>
      </div>

      <!-- LINHA 2 -->
      <div class="linha-base">
        <p class="descricao-msg">{{ msg.descricao }}</p>

        <span class="status" [ngClass]="msg.status">
          {{ msg.status === "nao-lida" ? "Não lida" : msg.status }}
        </span>
      </div>
    </div>
  </div>
</div>
