@if (pendencias.length > 0) {
  <section class="br-card detalhes-avaliacao">
    <div class="card-header">
      <h2 class="titulo-secao">Detalhes de avaliação</h2>
    </div>

    <div class="card-content">
      <div class="br-accordion" data-group="true">
        @for (categoria of categoriasUnicas; track categoria) {
          <details class="br-accordion-item categoria-accordion">
            <summary class="accordion-header">
              <div class="header-conteudo">
                <span class="categoria-texto-header">
                  {{ categoria }}
                </span>
                <span class="badge-pendencia">
                  {{ getQuantidadePorCategoria(categoria) }}
                </span>
              </div>
            </summary>

            <div class="accordion-body">
              <div
                class="br-accordion lista-interna-pendencias"
                data-group="true"
              >
                @for (
                  pendencia of getPendenciasPorCategoria(categoria);
                  track pendencia.titulo
                ) {
                  <details
                    class="br-accordion-item pendencia-accordion"
                    [open]="pendencia.aberto"
                    (toggle)="pendencia.aberto = item.open"
                    #item
                  >
                    <summary class="accordion-header">
                      <div class="header-conteudo">
                        <span class="titulo-pendencia-header">
                          {{ pendencia.titulo }}
                        </span>
                      </div>
                    </summary>

                    <div class="accordion-body">
                      <div class="formulario-pendencia">
                        <div class="informacoes-pendencia">
                          <h3 class="titulo-pendencia">
                            {{ pendencia.titulo }}
                          </h3>

                          <p class="descricao-pendencia">
                            {{ pendencia.descricao }}
                          </p>
                        </div>

                        @if (categoria === "Supervisão") {
                          <div class="acoes-card">
                            <a
                              mat-flat-button
                              color="primary"
                              class="botao-salvar"
                              href="https://marcorapg.github.io/PrototipoINCRAMobile/autosupervisaoocupacional"
                            >
                              <mat-icon>visibility</mat-icon>
                              Supervisão
                            </a>
                          </div>
                        } @else if (podeCriarJustificativa(pendencia)) {
                          <div class="acoes-card">
                            <button
                              mat-flat-button
                              type="button"
                              color="primary"
                              class="botao-salvar"
                              [disabled]="pendencia.justificativaCriada"
                              (click)="acaoJustificativa(pendencia)"
                            >
                              <mat-icon>
                                {{
                                  pendencia.justificativaCriada
                                    ? "send"
                                    : "add_comment"
                                }}
                              </mat-icon>

                              {{
                                pendencia.justificativaCriada
                                  ? "Justificativa enviada"
                                  : "Criar Justificativa"
                              }}
                            </button>
                          </div>
                        }
                      </div>
                    </div>
                  </details>
                }
              </div>
            </div>
          </details>
        }
      </div>
    </div>
  </section>
} @else {
  <div class="br-mensagem-vazia">
    <mat-icon>check_circle</mat-icon>
    <p>Nenhuma pendência encontrada para a categoria selecionada.</p>
  </div>
}
