<div class="container-mensagem" *ngIf="mensagem">
  <div class="topo-mensagem">
    <button mat-stroked-button (click)="voltar()">Voltar</button>

    <!--<mat-checkbox color="primary"> Dar Ciência </mat-checkbox>-->
  </div>

  <h2>{{ mensagem.titulo }}</h2>

  <p class="descricao-curta">{{ mensagem.descricao }}</p>

  <div class="detalhes">
    <p><strong>Data:</strong> {{ mensagem.data }}</p>
    <!--
    <p><strong>Status:</strong> {{ mensagem.status }}</p>-->
    <p *ngIf="mensagem.prioridade">
      <strong>Prioridade:</strong> {{ mensagem.prioridade }}
    </p>
  </div>

  <div class="descricao-completa">
    {{ mensagem.descricaoCompleta }}
  </div>

  <div class="container-slide">
    <mat-slide-toggle
      [checked]="darCiencia"
      [disabled]="darCiencia"
      (change)="darCiencia = true"
      [(ngModel)]="isChecked"
    >
      Dar ciência
    </mat-slide-toggle>
  </div>

  <!-- 🔽 ADIÇÃO: DOCUMENTO ANEXADO -->
  <div class="anexo-container" *ngIf="mensagem.tipo === 'doc'">
    <h3 class="titulo-anexo">Documento anexado</h3>

    <div class="anexo-card">
      <div class="anexo-info">
        <mat-icon class="anexo-icone">description</mat-icon>

        <div>
          <p class="anexo-nome">contrato.pdf</p>
          <span class="anexo-meta">PDF • 245 KB</span>
        </div>
      </div>

      <div class="anexo-acoes">
        <button
          mat-stroked-button
          color="primary"
          (click)="visualizarDocumento()"
        >
          <mat-icon>visibility</mat-icon>
          Visualizar documento
        </button>

        <button mat-raised-button color="primary">
          <mat-icon>draw</mat-icon>
          Assinar
        </button>
      </div>
    </div>

    <div *ngIf="pdfSrc" class="pdf-container">
      <iframe [src]="pdfSrc" width="100%" height="600px"></iframe>
    </div>
  </div>
</div>
